doctype html
html
    head
        link(rel="stylesheet" href="/css/styles.css" type="text/css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        title= title
    body
        .container.flex
            h1 #{client.name}
