include header.pug		
if clients
	.container.flex(style="display:flex; flex-wrap: wrap; margin-top: 2vw;") 
		each object in clients
			a#client(href=`/customers/${object._id}`)
				.client
					| #{object.name} 
					p(style="font-size:0.7em; color: grey; margin: 0;")
						| #{object.address}
script(src='/js/functions.js')
